# env
.env
*.txt
*.pem
.DS_Store

# output files
*.wav
*.png

# large model files
*.weights
*.pt

# python
__pycache__/
*.pyc
venv/
venv311/
*.db
*.sqlite3

# generated vector DB
**/diary_chroma_db/
**/chroma_db/

# node
node_modules/
dist/
.vscode/
